@import 'nativescript-theme-core/css/core.light.css';

FlexboxLayout image {
    flex-grow: 0;
    flex-shrink: 0;
}

FlexboxLayout Label {
    border-width: 1;
    border-color: green;
    flex-grow: 1;
    flex-shrink: 1;
}